<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Charlotte Elise	</title>
	<atom:link href="https://charlotteelise.co.uk/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://charlotteelise.co.uk</link>
	<description></description>
	<lastBuildDate>Fri, 02 May 2014 15:42:02 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.2</generator>
	<item>
		<title>
		Comment on Guestbook by Thomas Lovell Beddoes		</title>
		<link>https://charlotteelise.co.uk/guestbook/#comment-14</link>

		<dc:creator><![CDATA[Thomas Lovell Beddoes]]></dc:creator>
		<pubDate>Fri, 02 May 2014 15:42:02 +0000</pubDate>
		<guid isPermaLink="false">https://honeymoon.vamtam.com/?page_id=7780#comment-14</guid>

					<description><![CDATA[Tell me how many beads there are
In a silver chain
Of evening rain,
Unravelled from the tumbling main,
And threading the eye of a yellow star: -
So many times do I love again.]]></description>
			<content:encoded><![CDATA[<p>Tell me how many beads there are<br />
In a silver chain<br />
Of evening rain,<br />
Unravelled from the tumbling main,<br />
And threading the eye of a yellow star: &#8211;<br />
So many times do I love again.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Guestbook by Ralph Block		</title>
		<link>https://charlotteelise.co.uk/guestbook/#comment-13</link>

		<dc:creator><![CDATA[Ralph Block]]></dc:creator>
		<pubDate>Fri, 02 May 2014 15:40:42 +0000</pubDate>
		<guid isPermaLink="false">https://honeymoon.vamtam.com/?page_id=7780#comment-13</guid>

					<description><![CDATA[You&#039;re nothing short of my everything.]]></description>
			<content:encoded><![CDATA[<p>You&#8217;re nothing short of my everything.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Guestbook by Jane Seymour		</title>
		<link>https://charlotteelise.co.uk/guestbook/#comment-12</link>

		<dc:creator><![CDATA[Jane Seymour]]></dc:creator>
		<pubDate>Fri, 02 May 2014 15:37:26 +0000</pubDate>
		<guid isPermaLink="false">https://honeymoon.vamtam.com/?page_id=7780#comment-12</guid>

					<description><![CDATA[I think a lot of people get so obsessed with the wedding and the expense of the wedding that they miss out on what the real purpose is. It’s not about a production number, it’s about a meaningful moment between two people that’s witnessed by people that they actually really know and care about.]]></description>
			<content:encoded><![CDATA[<p>I think a lot of people get so obsessed with the wedding and the expense of the wedding that they miss out on what the real purpose is. It’s not about a production number, it’s about a meaningful moment between two people that’s witnessed by people that they actually really know and care about.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Guestbook by Gary Jones		</title>
		<link>https://charlotteelise.co.uk/guestbook/#comment-11</link>

		<dc:creator><![CDATA[Gary Jones]]></dc:creator>
		<pubDate>Fri, 02 May 2014 15:36:25 +0000</pubDate>
		<guid isPermaLink="false">https://honeymoon.vamtam.com/?page_id=7780#comment-11</guid>

					<description><![CDATA[For years my wedding ring has done its job. It has led me not into temptation. It has reminded my husband numerous times at parties that it’s time to go home. It has been a source of relief to a dinner companion. It has been a status symbol in the maternity ward.]]></description>
			<content:encoded><![CDATA[<p>For years my wedding ring has done its job. It has led me not into temptation. It has reminded my husband numerous times at parties that it’s time to go home. It has been a source of relief to a dinner companion. It has been a status symbol in the maternity ward.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Guestbook by Jane Seymour		</title>
		<link>https://charlotteelise.co.uk/guestbook/#comment-10</link>

		<dc:creator><![CDATA[Jane Seymour]]></dc:creator>
		<pubDate>Sat, 26 Apr 2014 18:22:18 +0000</pubDate>
		<guid isPermaLink="false">https://honeymoon.vamtam.com/?page_id=7780#comment-10</guid>

					<description><![CDATA[I think a lot of people get so obsessed with the wedding and the expense of the wedding that they miss out on what the real purpose is. It&#039;s not about a production number, it&#039;s about a meaningful moment between two people that&#039;s witnessed by people that they actually really know and care about.]]></description>
			<content:encoded><![CDATA[<p>I think a lot of people get so obsessed with the wedding and the expense of the wedding that they miss out on what the real purpose is. It&#8217;s not about a production number, it&#8217;s about a meaningful moment between two people that&#8217;s witnessed by people that they actually really know and care about.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Guestbook by Groucho Marx		</title>
		<link>https://charlotteelise.co.uk/guestbook/#comment-9</link>

		<dc:creator><![CDATA[Groucho Marx]]></dc:creator>
		<pubDate>Sat, 26 Apr 2014 18:22:07 +0000</pubDate>
		<guid isPermaLink="false">https://honeymoon.vamtam.com/?page_id=7780#comment-9</guid>

					<description><![CDATA[I was married by a judge. I should have asked for a jury.]]></description>
			<content:encoded><![CDATA[<p>I was married by a judge. I should have asked for a jury.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Guestbook by Gary Jones		</title>
		<link>https://charlotteelise.co.uk/guestbook/#comment-8</link>

		<dc:creator><![CDATA[Gary Jones]]></dc:creator>
		<pubDate>Sat, 26 Apr 2014 18:21:51 +0000</pubDate>
		<guid isPermaLink="false">https://honeymoon.vamtam.com/?page_id=7780#comment-8</guid>

					<description><![CDATA[Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and .... Select a text frame, then chose &quot;Sample Text&quot; from the context menu after ...]]></description>
			<content:encoded><![CDATA[<p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and &#8230;. Select a text frame, then chose &#8220;Sample Text&#8221; from the context menu after &#8230;</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Guestbook by John Mayer		</title>
		<link>https://charlotteelise.co.uk/guestbook/#comment-7</link>

		<dc:creator><![CDATA[John Mayer]]></dc:creator>
		<pubDate>Sat, 26 Apr 2014 18:21:24 +0000</pubDate>
		<guid isPermaLink="false">https://honeymoon.vamtam.com/?page_id=7780#comment-7</guid>

					<description><![CDATA[A man&#039;s got two shots for jewelry: a wedding ring and a watch. The watch is a lot easier to get on and off than a wedding ring.

&lt;a href=&quot;https://www.youtube.com/watch?v=nSRCpertZn8&quot; title=&quot;John Mayer - Who You Love ft. Katy Perry&quot; target=&quot;_blank&quot; rel=&quot;nofollow&quot;&gt;John Mayer - Who You Love ft. Katy Perry&lt;/a&gt;]]></description>
			<content:encoded><![CDATA[<p>A man&#8217;s got two shots for jewelry: a wedding ring and a watch. The watch is a lot easier to get on and off than a wedding ring.</p>
<p><a href="https://www.youtube.com/watch?v=nSRCpertZn8" title="John Mayer - Who You Love ft. Katy Perry" target="_blank" rel="nofollow">John Mayer &#8211; Who You Love ft. Katy Perry</a></p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Guestbook by Ellie Goulding		</title>
		<link>https://charlotteelise.co.uk/guestbook/#comment-6</link>

		<dc:creator><![CDATA[Ellie Goulding]]></dc:creator>
		<pubDate>Sat, 26 Apr 2014 18:08:53 +0000</pubDate>
		<guid isPermaLink="false">https://honeymoon.vamtam.com/?page_id=7780#comment-6</guid>

					<description><![CDATA[I met Prince William at a musical festival and he let me know he was a fan of my music. But the invitation to sing at his wedding reception came completely out of the blue. The fact that Kate and William knew the words to my songs was very touching.]]></description>
			<content:encoded><![CDATA[<p>I met Prince William at a musical festival and he let me know he was a fan of my music. But the invitation to sing at his wedding reception came completely out of the blue. The fact that Kate and William knew the words to my songs was very touching.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Guestbook by Jane Seymour		</title>
		<link>https://charlotteelise.co.uk/guestbook/#comment-5</link>

		<dc:creator><![CDATA[Jane Seymour]]></dc:creator>
		<pubDate>Sat, 26 Apr 2014 18:08:35 +0000</pubDate>
		<guid isPermaLink="false">https://honeymoon.vamtam.com/?page_id=7780#comment-5</guid>

					<description><![CDATA[I think a lot of people get so obsessed with the wedding and the expense of the wedding that they miss out on what the real purpose is. It&#039;s not about a production number, it&#039;s about a meaningful moment between two people that&#039;s witnessed by people that they actually really know and care about.]]></description>
			<content:encoded><![CDATA[<p>I think a lot of people get so obsessed with the wedding and the expense of the wedding that they miss out on what the real purpose is. It&#8217;s not about a production number, it&#8217;s about a meaningful moment between two people that&#8217;s witnessed by people that they actually really know and care about.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
