<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: You&#8217;re engaged? Congratulations! Now what?	</title>
	<atom:link href="https://charlotteelise.co.uk/youre-engaged-congratulations-now-what/feed/" rel="self" type="application/rss+xml" />
	<link>https://charlotteelise.co.uk/youre-engaged-congratulations-now-what/</link>
	<description></description>
	<lastBuildDate>Mon, 01 Aug 2016 14:23:06 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.2</generator>
</channel>
</rss>
