<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Uncategorized &#8211; Charlotte Elise</title>
	<atom:link href="https://charlotteelise.co.uk/category/uncategorized/feed/" rel="self" type="application/rss+xml" />
	<link>https://charlotteelise.co.uk</link>
	<description></description>
	<lastBuildDate>Tue, 06 Nov 2018 12:55:39 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.2</generator>

<image>
	<url>https://charlotteelise.co.uk/wp-content/uploads/cropped-favicon-32x32.png</url>
	<title>Uncategorized &#8211; Charlotte Elise</title>
	<link>https://charlotteelise.co.uk</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>A Beautiful Wedding at Peckforton Castle</title>
		<link>https://charlotteelise.co.uk/a-beautiful-wedding-at-peckforton-castle/</link>
					<comments>https://charlotteelise.co.uk/a-beautiful-wedding-at-peckforton-castle/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Fri, 16 Mar 2018 19:02:37 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://charlotteelise.co.uk/?p=9147</guid>

					<description><![CDATA[<p>It was fantastic to work on our clients beautiful white wedding at Peckforton Castle in September 2017. We came on board after our clients had booked their venue and a few suppliers. The client really wanted to personalise their day and so we had beautiful marble coasters with hand calligraphy which doubled as both the...</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/a-beautiful-wedding-at-peckforton-castle/">A Beautiful Wedding at Peckforton Castle</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>It was fantastic to work on our clients beautiful white wedding at Peckforton Castle in September 2017. We came on board after our clients had booked their venue and a few suppliers. The client really wanted to personalise their day and so we had beautiful marble coasters with hand calligraphy which doubled as both the place names and favours and also we brought in white glassware from Whitehouse Crockery. The flowers were by the amazing Red Floral Architecture and these images by the wonderful Lesley Meredith Photography. As you can see below they had a wonderful 5 foot high cake too!</p>

<div id="rev_slider_92_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.5 auto mode -->
	<div id="rev_slider_92_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-124" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://charlotteelise.co.uk/wp-content/uploads/964888CA-2147-4632-8155-0C1C538D69C6-100x50.jpeg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/964888CA-2147-4632-8155-0C1C538D69C6.jpeg"  alt="" title="964888CA-2147-4632-8155-0C1C538D69C6"  width="2048" height="1368" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-125" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://charlotteelise.co.uk/wp-content/uploads/40A227A3-B1E3-4FC4-822E-9C911FAC5BFA-100x50.jpeg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/40A227A3-B1E3-4FC4-822E-9C911FAC5BFA.jpeg"  alt="" title="40A227A3-B1E3-4FC4-822E-9C911FAC5BFA"  width="1367" height="2048" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-126" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://charlotteelise.co.uk/wp-content/uploads/CAE28057-1C6A-43C7-8466-07A3F58C5AF0-100x50.jpeg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/CAE28057-1C6A-43C7-8466-07A3F58C5AF0.jpeg"  alt="" title="CAE28057-1C6A-43C7-8466-07A3F58C5AF0"  width="2048" height="1252" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-127" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://charlotteelise.co.uk/wp-content/uploads/017E4324-26DF-4AB6-B3D1-0FEA42A86493-100x50.jpeg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/017E4324-26DF-4AB6-B3D1-0FEA42A86493.jpeg"  alt="" title="017E4324-26DF-4AB6-B3D1-0FEA42A86493"  width="2048" height="1368" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-128" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://charlotteelise.co.uk/wp-content/uploads/D0FEF692-0D13-4757-BEDC-4B5A8B4836FC-100x50.jpeg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/D0FEF692-0D13-4757-BEDC-4B5A8B4836FC.jpeg"  alt="" title="D0FEF692-0D13-4757-BEDC-4B5A8B4836FC"  width="2048" height="1368" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-129" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://charlotteelise.co.uk/wp-content/uploads/39F24A52-D1A8-4604-9A1A-4D4C9E750E4C-100x50.jpeg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/39F24A52-D1A8-4604-9A1A-4D4C9E750E4C.jpeg"  alt="" title="39F24A52-D1A8-4604-9A1A-4D4C9E750E4C"  width="2048" height="1368" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-130" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://charlotteelise.co.uk/wp-content/uploads/E91FA622-4A32-41AF-B28F-A524DF82B5EF-100x50.jpeg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/E91FA622-4A32-41AF-B28F-A524DF82B5EF.jpeg"  alt="" title="E91FA622-4A32-41AF-B28F-A524DF82B5EF"  width="2048" height="1368" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-131" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://charlotteelise.co.uk/wp-content/uploads/45187C0D-0548-4FB6-983F-C39F21B02C02-100x50.jpeg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/45187C0D-0548-4FB6-983F-C39F21B02C02.jpeg"  alt="" title="45187C0D-0548-4FB6-983F-C39F21B02C02"  width="2048" height="1369" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-132" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="https://charlotteelise.co.uk/wp-content/uploads/FD0585A2-2D79-47E4-8278-107F09AC2F4C-100x50.jpeg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/FD0585A2-2D79-47E4-8278-107F09AC2F4C.jpeg"  alt="" title="FD0585A2-2D79-47E4-8278-107F09AC2F4C"  width="2048" height="1368" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
						if(htmlDiv) {
							htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
						}else{
							var htmlDiv = document.createElement("div");
							htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
							document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
						}
					</script>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		<script type="text/javascript">
setREVStartSize({c: jQuery('#rev_slider_92_1'), responsiveLevels: [1240,1024,778,480], gridwidth: [1240,1024,778,480], gridheight: [600,600,500,400], sliderLayout: 'auto'});
			
var revapi92,
	tpj=jQuery;
			
tpj(document).ready(function() {
	if(tpj("#rev_slider_92_1").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_92_1");
	}else{
		revapi92 = tpj("#rev_slider_92_1").show().revolution({
			sliderType:"carousel",
			jsFileLocation:"//charlotteelise.co.uk/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"auto",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				keyboardNavigation:"off",
				keyboard_direction: "horizontal",
				mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
				onHoverStop:"off",
				touch:{
					touchenabled:"on",
					touchOnDesktop:"off",
					swipe_threshold: 75,
					swipe_min_touches: 50,
					swipe_direction: "horizontal",
					drag_block_vertical: false
				}
				,
				arrows: {
					style:"gyges",
					enable:true,
					hide_onmobile:true,
					hide_under:600,
					hide_onleave:false,
					tmp:'',
					left: {
						h_align:"left",
						v_align:"center",
						h_offset:30,
						v_offset:0
					},
					right: {
						h_align:"right",
						v_align:"center",
						h_offset:30,
						v_offset:0
					}
				}
				,
				thumbnails: {
					style:"gyges",
					enable:true,
					width:50,
					height:50,
					min_width:50,
					wrapper_padding:5,
					wrapper_color:"transparent",
					tmp:'<span class="tp-thumb-img-wrap">  <span class="tp-thumb-image"></span></span>',
					visibleAmount:5,
					hide_onmobile:false,
					hide_onleave:false,
					direction:"horizontal",
					span:false,
					position:"inner",
					space:5,
					h_align:"center",
					v_align:"bottom",
					h_offset:0,
					v_offset:20
				}
			},
			carousel: {
				horizontal_align: "center",
				vertical_align: "center",
				fadeout: "on",
				vary_fade: "off",
				maxVisibleItems: 3,
				infinity: "off",
				space: 0,
				stretch: "off",
 							showLayersAllTime: "off",
 							easing: "Power3.easeInOut",
 							speed: "800"
			},
			responsiveLevels:[1240,1024,778,480],
			visibilityLevels:[1240,1024,778,480],
			gridwidth:[1240,1024,778,480],
			gridheight:[600,600,500,400],
			lazyType:"none",
			parallax: {
				type:"mouse",
				origo:"slidercenter",
				speed:2000,
				speedbg:0,
				speedls:0,
				levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
			},
			shadow:0,
			spinner:"off",
			stopLoop:"on",
			stopAfterLoops:0,
			stopAtSlide:1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
	
});	/*ready*/
</script>
		<script>
					var htmlDivCss = unescape("%0A.gyges%20.tp-thumb%20%7B%20%0A%20%20%20%20%20%20opacity%3A1%0A%20%20%7D%0A.gyges%20.tp-thumb-img-wrap%20%7B%0A%20%20padding%3A3px%3B%0A%20%20background-color%3Argba%280%2C0%2C0%2C0.25%29%3B%0A%20%20display%3Ainline-block%3B%0A%0A%20%20width%3A100%25%3B%0A%20%20height%3A100%25%3B%0A%20%20position%3Arelative%3B%0A%20%20margin%3A0px%3B%0A%20%20box-sizing%3Aborder-box%3B%0A%20%20%20%20transition%3Aall%200.3s%3B%0A%20%20%20%20-webkit-transition%3Aall%200.3s%3B%0A%7D%0A.gyges%20.tp-thumb-image%20%7B%0A%20%20%20padding%3A3px%3B%20%0A%20%20%20display%3Ablock%3B%0A%20%20%20box-sizing%3Aborder-box%3B%0A%20%20%20position%3Arelative%3B%0A%20%20%20%20-webkit-box-shadow%3A%20inset%205px%205px%2010px%200px%20rgba%280%2C0%2C0%2C0.25%29%3B%0A%20%20-moz-box-shadow%3A%20inset%205px%205px%2010px%200px%20rgba%280%2C0%2C0%2C0.25%29%3B%0A%20%20box-shadow%3A%20inset%205px%205px%2010px%200px%20rgba%280%2C0%2C0%2C0.25%29%3B%0A%20%7D%20%20%0A%0A.gyges%20.tp-thumb%3Ahover%20.tp-thumb-img-wrap%2C%0A%20.gyges%20.tp-thumb.selected%20.tp-thumb-img-wrap%20%7B%0A%20%20%20%20background%3A%20-moz-linear-gradient%28top%2C%20%20rgba%28255%2C%20255%2C%20255%2C%201%29%200%25%2C%20rgba%28119%2C%20119%2C%20119%2C%201%29%20100%25%29%3B%0Abackground%3A%20-webkit-gradient%28left%20top%2C%20left%20bottom%2C%20color-stop%280%25%2C%20rgba%28255%2C%20255%2C%20255%2C%201%29%29%2C%20color-stop%28100%25%2C%20rgba%28119%2C%20119%2C%20119%2C%201%29%29%29%3B%0Abackground%3A%20-webkit-linear-gradient%28top%2C%20rgba%28255%2C%20255%2C%20255%2C%201%29%200%25%2C%20rgba%28119%2C%20119%2C%20119%2C%201%29%20100%25%29%3B%0Abackground%3A%20-o-linear-gradient%28top%2C%20rgba%28255%2C%20255%2C%20255%2C%201%29%200%25%2C%20rgba%28119%2C%20119%2C%20119%2C%201%29%20100%25%29%3B%0Abackground%3A%20-ms-linear-gradient%28top%2C%20rgba%28255%2C%20255%2C%20255%2C%201%29%200%25%2C%20rgba%28119%2C%20119%2C%20119%2C%201%29%20100%25%29%3B%0Abackground%3A%20linear-gradient%28to%20bottom%2C%20rgba%28255%2C%20255%2C%20255%2C%201%29%200%25%2C%20rgba%28119%2C%20119%2C%20119%2C%201%29%20100%25%29%3B%0A%0A%7D%0A%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				  </script>
				</div><!-- END REVOLUTION SLIDER -->
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/a-beautiful-wedding-at-peckforton-castle/">A Beautiful Wedding at Peckforton Castle</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/a-beautiful-wedding-at-peckforton-castle/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Sophie and Gonzalo&#8217;s Big London Greek Wedding!</title>
		<link>https://charlotteelise.co.uk/sophie-gonzalos-big-london-greek-wedding/</link>
					<comments>https://charlotteelise.co.uk/sophie-gonzalos-big-london-greek-wedding/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Thu, 21 Sep 2017 14:24:20 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://charlotteelise.co.uk/?p=9056</guid>

					<description><![CDATA[<p>We have been featured on Rock my Wedding for our January, London wedding of Sophie and Gonzalo. For more images and information from this beautiful day click the link below: Sophie &#038; Gonzalo</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/sophie-gonzalos-big-london-greek-wedding/">Sophie and Gonzalo&#8217;s Big London Greek Wedding!</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<div class="row "><div class="wpv-grid grid-1-1  wpv-first-level first unextended" style="padding-top:0px;padding-bottom:0px" id="wpv-column-ae29d2f65ec3ea515076dec6e8b0dfaf" >		<div class="sep-text single centered">
							<span class="sep-text-before"><div class="sep-text-line"></div></span>
						<div class="content">
				<h2 class="text-divider-double">Sophie and Gonzalo's Big London Greek Wedding.</h2>			</div>
			<span class="sep-text-after"><div class="sep-text-line"></div></span>
					</div>
	<p style="text-align: center;">We have been featured on Rock my Wedding for our January, London wedding of Sophie and Gonzalo.</p>
<p style="text-align: center;">For more images and information from this beautiful day click the link below:</p>
<blockquote class="wp-embedded-content" data-secret="vK1bw52o0i"><p><a href="http://www.rockmywedding.co.uk/sophie-gonzalo/">Sophie &#038; Gonzalo</a></p></blockquote>
<p><iframe class="wp-embedded-content" sandbox="allow-scripts" security="restricted" src="http://www.rockmywedding.co.uk/sophie-gonzalo/embed/#?secret=vK1bw52o0i" data-secret="vK1bw52o0i" width="600" height="338" title="&#8220;Sophie &#038; Gonzalo&#8221; &#8212; ROCK MY WEDDING | UK WEDDING BLOG" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div></div>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/sophie-gonzalos-big-london-greek-wedding/">Sophie and Gonzalo&#8217;s Big London Greek Wedding!</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/sophie-gonzalos-big-london-greek-wedding/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
