<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Wedding Planner &#8211; Charlotte Elise</title>
	<atom:link href="https://charlotteelise.co.uk/category/wedding-planner/feed/" rel="self" type="application/rss+xml" />
	<link>https://charlotteelise.co.uk</link>
	<description></description>
	<lastBuildDate>Wed, 22 Jan 2020 12:58:34 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.2</generator>

<image>
	<url>https://charlotteelise.co.uk/wp-content/uploads/cropped-favicon-32x32.png</url>
	<title>Wedding Planner &#8211; Charlotte Elise</title>
	<link>https://charlotteelise.co.uk</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>South of France Wedding &#8211; Joanne and Dave</title>
		<link>https://charlotteelise.co.uk/south-of-france-wedding-joanne-and-dave/</link>
					<comments>https://charlotteelise.co.uk/south-of-france-wedding-joanne-and-dave/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Wed, 22 Jan 2020 12:48:24 +0000</pubDate>
				<category><![CDATA[Wedding Planner]]></category>
		<guid isPermaLink="false">https://charlotteelise.co.uk/?p=9491</guid>

					<description><![CDATA[<p>Joanne and Dave’s picture-perfect South of France wedding was a dream to work on. We first Joanne about two years ago and she explained that she wanted an intimate South of France wedding with her nearest and dearest followed by a big party in the UK to celebrate afterwards. We worked closely with Joanne and...</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/south-of-france-wedding-joanne-and-dave/">South of France Wedding &#8211; Joanne and Dave</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Joanne and Dave’s picture-perfect South of France wedding was a dream to work on. We first Joanne about two years ago and she explained that she wanted an intimate South of France wedding with her nearest and dearest followed by a big party in the UK to celebrate afterwards. We worked closely with Joanne and Dave to plan both of these wonderful events. </p>
<p>The South of France had always been a favourite location for them to visit as a family and so we settled on the beautiful Royal Riviera Hotel in Saint-Jean-Cap-Ferrat. With 30 of their closest friends and family we planned a 2 day party starting with a Pizza Party at the marina the night before the wedding. The day of the wedding the weather was breezy but luckily sunny and therefore the outdoor ceremony overlooking the sea with a moon arch to frame it was perfect. The evening followed with drinks, canapes, dinner, speeches and dancing and everyone had the final day to relax before flying back to the UK.</p>
<p>A couple of weeks later was the UK party in The Vincent Hotel in Southport. With over 100 of their friends this time we had music from the amazing Six15, flowers from Verdure and hair/makeup and glitter bar from Flossy and Leigh. With a slideshow of pictures from the South of France guests were able to have a sneak peek of the wedding that took place a couple of weeks earlier!</p>

<div id="rev_slider_101_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.5 fullwidth mode -->
	<div id="rev_slider_101_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-193" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Royal-Riviera-2019-69.jpg"  alt="" title="Dave + Jo"  width="2080" height="3120" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-194" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Royal-Riviera-2019-376.jpg"  alt="" title="Dave + Jo"  width="2080" height="3120" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-195" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Royal-Riviera-2019-67.jpg"  alt="" title="Dave + Jo"  width="2080" height="3120" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		<script type="text/javascript">
setREVStartSize({c: jQuery('#rev_slider_101_1'), gridwidth: [1240], gridheight: [868], sliderLayout: 'fullwidth'});
			
var revapi101,
	tpj=jQuery;
			
tpj(document).ready(function() {
	if(tpj("#rev_slider_101_1").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_101_1");
	}else{
		revapi101 = tpj("#rev_slider_101_1").show().revolution({
			sliderType:"carousel",
			jsFileLocation:"//charlotteelise.co.uk/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"fullwidth",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				onHoverStop:"off",
			},
			carousel: {
				horizontal_align: "center",
				vertical_align: "center",
				fadeout: "on",
				vary_fade: "off",
				maxVisibleItems: 3,
				infinity: "off",
				space: 0,
				stretch: "off",
 							showLayersAllTime: "off",
 							easing: "Power3.easeInOut",
 							speed: "800"
			},
			visibilityLevels:[1240,1024,778,480],
			gridwidth:1240,
			gridheight:868,
			lazyType:"none",
			shadow:0,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
	
});	/*ready*/
</script>
		</div><!-- END REVOLUTION SLIDER -->
<p>Photographer &#8211; <a href="https://clairemacintyre.com">Claire Macintyre</a><br />
Hair/Makeup &#8211; <a href="http://www.flossyandleigh.com">Flossy and Leigh</a><br />
Music &#8211; <a href="https://www.six15events.co.uk">Six15</a></p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/south-of-france-wedding-joanne-and-dave/">South of France Wedding &#8211; Joanne and Dave</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/south-of-france-wedding-joanne-and-dave/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>London Wedding &#8211; Trinity Buoy Wharf and St Paul&#8217;s Cathedral</title>
		<link>https://charlotteelise.co.uk/london-wedding-trinity-buoy-wharf-and-st-pauls-cathedral/</link>
					<comments>https://charlotteelise.co.uk/london-wedding-trinity-buoy-wharf-and-st-pauls-cathedral/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Wed, 22 Jan 2020 12:19:38 +0000</pubDate>
				<category><![CDATA[Wedding Planner]]></category>
		<guid isPermaLink="false">https://charlotteelise.co.uk/?p=9253</guid>

					<description><![CDATA[<p>Abigail and Euan had an amazing London Wedding at St Paul&#8217;s Cathedral and Trinity Buoy Wharf. We love going to London and spend a lot of time there for client meetings and catching up with suppliers so it was really exciting for us to ask to help Abigail and Euan on their London wedding. The...</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/london-wedding-trinity-buoy-wharf-and-st-pauls-cathedral/">London Wedding &#8211; Trinity Buoy Wharf and St Paul&#8217;s Cathedral</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Abigail and Euan had an amazing London Wedding at St Paul&#8217;s Cathedral and Trinity Buoy Wharf.</p>
<p>We love going to London and spend a lot of time there for client meetings and catching up with suppliers so it was really exciting for us to ask to help Abigail and Euan on their London wedding. The ceremony took place in the stunning St Pauls Cathedral on a glorious August afternoon. Their reception took place at Trinity Buoy Wharf on the banks of the River Thames. </p>
<p>This wedding combined both traditional and modern features which we absolutely loved! The guests travelled between venues by boat and when arriving at Trinity Buoy Wharf they had everything from tattoo artists, a kissing booth, gentleman’s whisky corner and an array of multicoloured flowers, balloons and neon lights!</p>
<p>It was the perfect party and it was all captured by the wonderful Babb Photo. </p>

<div id="rev_slider_100_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.5 fullwidth mode -->
	<div id="rev_slider_100_2" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-187" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/IMG_6562.jpg"  alt="" title="IMG_6562"  width="1400" height="934" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-188" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/IMG_6443.jpg"  alt="" title="IMG_6443"  width="1400" height="935" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-189" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/IMG_7785.jpg"  alt="" title="IMG_7785"  width="2499" height="1675" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-190" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/IMG_2348.jpg"  alt="" title="IMG_2348"  width="2468" height="1652" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-191" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/IMG_2923.jpg"  alt="" title="IMG_2923"  width="1400" height="935" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-192" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/IMG_6445.jpg"  alt="" title="IMG_6445"  width="1400" height="935" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		<script type="text/javascript">
setREVStartSize({c: jQuery('#rev_slider_100_2'), gridwidth: [1240], gridheight: [868], sliderLayout: 'fullwidth'});
			
var revapi100,
	tpj=jQuery;
			
tpj(document).ready(function() {
	if(tpj("#rev_slider_100_2").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_100_2");
	}else{
		revapi100 = tpj("#rev_slider_100_2").show().revolution({
			sliderType:"carousel",
			jsFileLocation:"//charlotteelise.co.uk/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"fullwidth",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				onHoverStop:"off",
			},
			carousel: {
				horizontal_align: "center",
				vertical_align: "center",
				fadeout: "on",
				vary_fade: "off",
				maxVisibleItems: 3,
				infinity: "off",
				space: 0,
				stretch: "off",
 							showLayersAllTime: "off",
 							easing: "Power3.easeInOut",
 							speed: "800"
			},
			visibilityLevels:[1240,1024,778,480],
			gridwidth:1240,
			gridheight:868,
			lazyType:"none",
			shadow:0,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
	
});	/*ready*/
</script>
		</div><!-- END REVOLUTION SLIDER -->
<p>Flowers &#8211; <a href="https://earlyhours.co.uk">Early Hours</a><br />
Photography &#8211; <a href="https://www.babbphoto.com">Babb Photo</a> </p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/london-wedding-trinity-buoy-wharf-and-st-pauls-cathedral/">London Wedding &#8211; Trinity Buoy Wharf and St Paul&#8217;s Cathedral</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/london-wedding-trinity-buoy-wharf-and-st-pauls-cathedral/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Discovery Themed Wedding on Private Estate in Buckinghamshire</title>
		<link>https://charlotteelise.co.uk/discovery-themed-event-on-private-estate-in-buckinghamshire/</link>
					<comments>https://charlotteelise.co.uk/discovery-themed-event-on-private-estate-in-buckinghamshire/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Wed, 22 Jan 2020 12:05:05 +0000</pubDate>
				<category><![CDATA[Wedding Planner]]></category>
		<guid isPermaLink="false">https://charlotteelise.co.uk/?p=9251</guid>

					<description><![CDATA[<p>In the Summer we were tasked with the exciting job of planning a not-your-traditional wedding &#8211; a Discovery Themed Event. We work on such a wide-range of weddings and events and our couple wanted something a little bit different. They travelled a lot and had many favourite locations they had experienced together as a couple....</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/discovery-themed-event-on-private-estate-in-buckinghamshire/">Discovery Themed Wedding on Private Estate in Buckinghamshire</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>In the Summer we were tasked with the exciting job of planning a not-your-traditional wedding &#8211; a Discovery Themed Event. We work on such a wide-range of weddings and events and our couple wanted something a little bit different. They travelled a lot and had many favourite locations they had experienced together as a couple. The brief was to incorporate this into their wedding. We did this in a way in which the guests would discover more about the bride and groom in the process. </p>
<p>The wedding was to take place on the groom’s family estate in Buckinghamshire. The plan was to have as much outside as possible and use the different areas of the garden. After the groom arrived by helicopter with his groomsmen the ceremony begun under the trees. This was in front of the backdrop of the beautiful house. </p>
<p>Following this we used the stunning setting of the lake for the drinks reception. We had this dressed with chandeliers, festoon lights and naked tipis so the area was illuminated. Next to this we had large tipis from the amazing Tipi Unique in another area of the garden for the wedding breakfast. In all different areas of the garden was a different ‘satellite’ with the theme of a certain country. For example we had a British area with a Fish and Chips van and a traditional Fairground Ferris Wheel. In another we had a Russian section with traditional Russian food and music. The guests were given maps to locate different areas around the grounds and were told to congregate at certain times for entertainment and speeches. </p>
<p>It was such a wonderful, fun evening for all 200 guests which finished with Yurtel providing mini-tipis, toilets and showers for the guests to stay over in. A brunch the next morning ended the celebrations before guests made their way home.</p>

<div id="rev_slider_99_3_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.5 fullwidth mode -->
	<div id="rev_slider_99_3" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-182" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/IMG_5552.jpg"  alt="" title="IMG_5552"  width="900" height="1350" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-183" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/IMG_5561.jpg"  alt="" title="IMG_5561"  width="1119" height="842" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-184" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/IMG_2821.jpg"  alt="" title="IMG_2821"  width="667" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-185" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/IMG_2823.jpg"  alt="" title="IMG_2823"  width="667" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-186" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/c50b8c6b-b3f6-40a8-9e8d-fee8d0b34639.jpg"  alt="" title="c50b8c6b-b3f6-40a8-9e8d-fee8d0b34639"  width="1200" height="1600" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		<script type="text/javascript">
setREVStartSize({c: jQuery('#rev_slider_99_3'), gridwidth: [1240], gridheight: [868], sliderLayout: 'fullwidth'});
			
var revapi99,
	tpj=jQuery;
			
tpj(document).ready(function() {
	if(tpj("#rev_slider_99_3").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_99_3");
	}else{
		revapi99 = tpj("#rev_slider_99_3").show().revolution({
			sliderType:"carousel",
			jsFileLocation:"//charlotteelise.co.uk/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"fullwidth",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				onHoverStop:"off",
			},
			carousel: {
				horizontal_align: "center",
				vertical_align: "center",
				fadeout: "on",
				vary_fade: "off",
				maxVisibleItems: 3,
				infinity: "off",
				space: 0,
				stretch: "off",
 							showLayersAllTime: "off",
 							easing: "Power3.easeInOut",
 							speed: "800"
			},
			visibilityLevels:[1240,1024,778,480],
			gridwidth:1240,
			gridheight:868,
			lazyType:"none",
			shadow:0,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
	
});	/*ready*/
</script>
		</div><!-- END REVOLUTION SLIDER -->
<p>Tipis &#8211; <a href="https://tipiunique.com">Tipi Unique</a><br />
Images &#8211; <a href="https://cecelinaphotography.com">Cecelina Photography</a><br />
Flowers &#8211; <a href="https://earlyhours.co.uk">Early Hours</a> </p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/discovery-themed-event-on-private-estate-in-buckinghamshire/">Discovery Themed Wedding on Private Estate in Buckinghamshire</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/discovery-themed-event-on-private-estate-in-buckinghamshire/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>North-West Wedding Planner of the Year 2019</title>
		<link>https://charlotteelise.co.uk/north-west-wedding-planner-of-the-year-2019/</link>
					<comments>https://charlotteelise.co.uk/north-west-wedding-planner-of-the-year-2019/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Wed, 22 Jan 2020 10:46:26 +0000</pubDate>
				<category><![CDATA[Wedding Planner]]></category>
		<guid isPermaLink="false">https://charlotteelise.co.uk/?p=9379</guid>

					<description><![CDATA[<p>We were so excited to be voted North-West Wedding Planner of the Year in the 2019 Wedding Industry Awards. We have won this award before and it is always such an honour as it is voted for by our amazing clients. Thank you TWIA again for the award and for a wonderful evening!</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/north-west-wedding-planner-of-the-year-2019/">North-West Wedding Planner of the Year 2019</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>We were so excited to be voted North-West Wedding Planner of the Year in the 2019 Wedding Industry Awards. We have won this award before and it is always such an honour as it is voted for by our amazing clients. Thank you TWIA again for the award and for a wonderful evening!</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/north-west-wedding-planner-of-the-year-2019/">North-West Wedding Planner of the Year 2019</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/north-west-wedding-planner-of-the-year-2019/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Winter Wedding at Peckforton Castle &#8211; Emma and Tommy</title>
		<link>https://charlotteelise.co.uk/winter-wedding-at-peckforton-castle-emma-and-tommy/</link>
					<comments>https://charlotteelise.co.uk/winter-wedding-at-peckforton-castle-emma-and-tommy/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Wed, 22 Jan 2020 10:40:21 +0000</pubDate>
				<category><![CDATA[Wedding Planner]]></category>
		<guid isPermaLink="false">https://charlotteelise.co.uk/?p=9391</guid>

					<description><![CDATA[<p>Emma and Tommy had a beautiful winter wedding at Peckforton Castle. They chose our On-the-Day Wedding Management service for their wedding. This involves us contacting and liaising with all of their booked suppliers. We ensure all timings are correct, work closely with the venue to ensure the decor and layout of the wedding is perfect...</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/winter-wedding-at-peckforton-castle-emma-and-tommy/">Winter Wedding at Peckforton Castle &#8211; Emma and Tommy</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Emma and Tommy had a beautiful winter wedding at Peckforton Castle. They chose our On-the-Day Wedding Management service for their wedding. This involves us contacting and liaising with all of their booked suppliers. We ensure all timings are correct, work closely with the venue to ensure the decor and layout of the wedding is perfect and make sure that the bride and groom hasn’t forgotten anything. It was so lovely to work with Emma and Tommy on their wedding in the months leading up to their big day. They had an Enchanted Forest theme and combined with the hundreds of candles this was a perfect Winter Wedding look because the Great Hall at Peckforton Castle is so grand and beautiful.</p>
<p>We had music from a Gospel Choir for the ceremony and a DJ in the evening. This worked perfectly with the Motion Mapping they had on the interior walls of the castle. This projected a variety of graphics from Harry Potter style hanging candles to fireworks. Guests literally felt that they were dancing under the stars whilst in a castle.</p>

<div id="rev_slider_98_4_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.5 fullwidth mode -->
	<div id="rev_slider_98_4" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-178" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/301EEEC9-2C2F-41EC-BAFF-FE23E515027B.jpeg"  alt="" title="301EEEC9-2C2F-41EC-BAFF-FE23E515027B"  width="1280" height="853" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-179" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/C4EEEBDD-CD54-4850-A971-28E13A539F82.jpeg"  alt="" title="C4EEEBDD-CD54-4850-A971-28E13A539F82"  width="2048" height="1365" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-180" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/96A90766-0BEF-4A81-98E1-9D2B0D07739D.jpeg"  alt="" title="96A90766-0BEF-4A81-98E1-9D2B0D07739D"  width="1365" height="2048" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-181" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/5F7047BF-AD2D-443D-9E10-DBD56311A630.jpeg"  alt="" title="5F7047BF-AD2D-443D-9E10-DBD56311A630"  width="2048" height="1365" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		<script type="text/javascript">
setREVStartSize({c: jQuery('#rev_slider_98_4'), gridwidth: [1240], gridheight: [868], sliderLayout: 'fullwidth'});
			
var revapi98,
	tpj=jQuery;
			
tpj(document).ready(function() {
	if(tpj("#rev_slider_98_4").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_98_4");
	}else{
		revapi98 = tpj("#rev_slider_98_4").show().revolution({
			sliderType:"carousel",
			jsFileLocation:"//charlotteelise.co.uk/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"fullwidth",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				onHoverStop:"off",
			},
			carousel: {
				horizontal_align: "center",
				vertical_align: "center",
				fadeout: "on",
				vary_fade: "off",
				maxVisibleItems: 3,
				infinity: "off",
				space: 0,
				stretch: "off",
 							showLayersAllTime: "off",
 							easing: "Power3.easeInOut",
 							speed: "800"
			},
			visibilityLevels:[1240,1024,778,480],
			gridwidth:1240,
			gridheight:868,
			lazyType:"none",
			shadow:0,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
	
});	/*ready*/
</script>
		</div><!-- END REVOLUTION SLIDER -->
<p>Photographer &#8211; <a href="https://www.sansomphotography.co.uk/">Sansom Photography</a><br />
Videographer &#8211; <a href="https://www.marrymefilms.co.uk/">Marry Me Films</a><br />
Florist &#8211; <a href="https://www.redfloral.co.uk/">Red Floral </a></p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/winter-wedding-at-peckforton-castle-emma-and-tommy/">Winter Wedding at Peckforton Castle &#8211; Emma and Tommy</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/winter-wedding-at-peckforton-castle-emma-and-tommy/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Sarah and Pete&#8217;s Marquee Wedding</title>
		<link>https://charlotteelise.co.uk/sarah-petes-marquee-wedding-bolton/</link>
					<comments>https://charlotteelise.co.uk/sarah-petes-marquee-wedding-bolton/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Tue, 04 Dec 2018 21:20:07 +0000</pubDate>
				<category><![CDATA[Wedding Planner]]></category>
		<guid isPermaLink="false">https://charlotteelise.co.uk/?p=9247</guid>

					<description><![CDATA[<p>Sarah and Pete contacted us early Summer 2017. They knew they wanted a wedding reception at Sarah’s parents house in Bolton but had no idea if it was feasible or how to go about it &#8211; which is where we came in! They decided they wanted a church ceremony followed by a marquee wedding which...</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/sarah-petes-marquee-wedding-bolton/">Sarah and Pete&#8217;s Marquee Wedding</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Sarah and Pete contacted us early Summer 2017. They knew they wanted a wedding reception at Sarah’s parents house in Bolton but had no idea if it was feasible or how to go about it &#8211; which is where we came in!</p>
<p>They decided they wanted a church ceremony followed by a marquee wedding which after a few meetings with Elite Marquees to discuss the access (which was quite difficult) it was decided that it was 100% possible and so the logistics were meticulously planned. The beauty of a marquee wedding is that you can personalise it completely. We used With a Twist Caterers for the food and drink who are absolutely fantastic and created a beautiful menu based on Sarah and Pete’s preferences.</p>
<p>Flowers were provided by Verdure Floral Design who we work with a lot and created some wonderful foliage suspended pieces as well as beautiful floral displays in soft blush tones. Evening entertainment was provided by one of our favourite bands &#8211; The Rush who definitely kept the dancefloor filled all evening!</p>
<p>Following the wedding the next day was a BBQ for close family and friends where everyone was able to catch up and enjoy the wonderful sunshine!</p>
<p>Swipe through the beautiful images below by Kerry Woods Photography to see more from this day!</p>

<div id="rev_slider_96_5_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.5 fullwidth mode -->
	<div id="rev_slider_96_5" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-158" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/6537EC62-06BB-426D-A028-608F878648BC.jpeg"  alt="" title="6537EC62-06BB-426D-A028-608F878648BC"  width="1746" height="1165" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-159" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/334A9691-A0B0-41F7-88B9-7F14876E42D0.jpeg"  alt="" title="334A9691-A0B0-41F7-88B9-7F14876E42D0"  width="1786" height="1192" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-161" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/05ADB8BE-14A2-42D2-86BA-FF1F06B949FF.jpeg"  alt="" title="05ADB8BE-14A2-42D2-86BA-FF1F06B949FF"  width="1840" height="1228" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-162" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/77C8796A-654E-4A7E-9FA2-7284E2F1931D.jpeg"  alt="" title="77C8796A-654E-4A7E-9FA2-7284E2F1931D"  width="1798" height="1200" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-164" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/FAD72463-49F5-463D-9B50-603BE0D1DD2B.jpeg"  alt="" title="FAD72463-49F5-463D-9B50-603BE0D1DD2B"  width="1794" height="1197" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-165" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/9BC5D68F-0C78-4D2C-B814-446312E98141.jpeg"  alt="" title="9BC5D68F-0C78-4D2C-B814-446312E98141"  width="1228" height="1840" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-166" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/EA8C03A4-8B4B-4987-9779-4B8E067A33DB.jpeg"  alt="" title="EA8C03A4-8B4B-4987-9779-4B8E067A33DB"  width="1228" height="1840" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		<script type="text/javascript">
setREVStartSize({c: jQuery('#rev_slider_96_5'), responsiveLevels: [1240,1024,1024,1024], gridwidth: [1240,1024,1024,1024], gridheight: [868,600,600,600], sliderLayout: 'fullwidth'});
			
var revapi96,
	tpj=jQuery;
			
tpj(document).ready(function() {
	if(tpj("#rev_slider_96_5").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_96_5");
	}else{
		revapi96 = tpj("#rev_slider_96_5").show().revolution({
			sliderType:"carousel",
			jsFileLocation:"//charlotteelise.co.uk/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"fullwidth",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				onHoverStop:"off",
			},
			carousel: {
				horizontal_align: "center",
				vertical_align: "center",
				fadeout: "on",
				vary_fade: "off",
				maxVisibleItems: 3,
				infinity: "off",
				space: 0,
				stretch: "off",
 							showLayersAllTime: "off",
 							easing: "Power3.easeInOut",
 							speed: "800"
			},
			responsiveLevels:[1240,1024,1024,1024],
			visibilityLevels:[1240,1024,1024,1024],
			gridwidth:[1240,1024,1024,1024],
			gridheight:[868,600,600,600],
			lazyType:"none",
			shadow:0,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
	
});	/*ready*/
</script>
		</div><!-- END REVOLUTION SLIDER -->
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/sarah-petes-marquee-wedding-bolton/">Sarah and Pete&#8217;s Marquee Wedding</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/sarah-petes-marquee-wedding-bolton/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Hitesha &#038; Jinesh&#8217;s Hindu &#038; Civil Wedding at Carden Park Hotel</title>
		<link>https://charlotteelise.co.uk/hindu-civil-wedding-carden-park-hotel/</link>
					<comments>https://charlotteelise.co.uk/hindu-civil-wedding-carden-park-hotel/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Tue, 04 Dec 2018 16:17:28 +0000</pubDate>
				<category><![CDATA[Wedding Planner]]></category>
		<guid isPermaLink="false">https://charlotteelise.co.uk/?p=9303</guid>

					<description><![CDATA[<p>Hitesha and Jinesh had booked their wedding at Carden Park Hotel in Cheshire back in 2017. However, they realised that with them having an extremely busy day with a Hindu Ceremony, Lunch, Civil Ceremony and then reception that they needed some professional support going forward and on the day. It was great to work with...</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/hindu-civil-wedding-carden-park-hotel/">Hitesha &#038; Jinesh&#8217;s Hindu &#038; Civil Wedding at Carden Park Hotel</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Hitesha and Jinesh had booked their wedding at Carden Park Hotel in Cheshire back in 2017. However, they realised that with them having an extremely busy day with a Hindu Ceremony, Lunch, Civil Ceremony and then reception that they needed some professional support going forward and on the day.</p>
<p>It was great to work with Hitesha and Jinesh on their wedding and what a fantastic day it was! It was a very early start as the Hindu Ceremony was starting in the morning and so from the early hours the mandap and ceremony room had to be set up. Following the beautiful Hindu ceremony was an Indian lunch for all of their guests. With some outfit changes came the civil ceremony in the afternoon. We were extremely lucky that the weather was perfect and so this was able to take place outside on the lawn.</p>
<p>Going into late afternoon was canapes and a drink reception before entering the main ballroom which following the Hindu ceremony had been turned around into the evening reception room. The formal wedding breakfast then took place and the evening ended in lots of dancing from all the guests! There were so many wonderful personal touches from Hitesha and Jinesh including personalised life-size charicature cutouts, personalised popcorn boxes for the Hindu ceremony, individual favours and place names which were pictures of the bride and groom with that particular guest.</p>
<p>Congratulations to Hitesha &amp; Jinesh and it was wonderful to work with the following suppliers:</p>
<p><a href="http://shanewebber.com">Shane Webber Photography</a></p>
<p><a href="https://1swevents.com">1SW Events</a></p>
<p><a href="https://www.yorkplacefilms.co.uk">York Place Films</a></p>
<p><a href="https://smileomatic.co.uk">Smileomatic</a></p>
<p><a href="http://ashmorebrothersband.co.uk">A</a><a href="http://ashmorebrothersband.co.uk">shmore Brothers</a></p>
<p>Swipe through to see more images from this beautiful day!</p>

<div id="rev_slider_94_6_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.5 auto mode -->
	<div id="rev_slider_94_6" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-142" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Carden-Park-Wedding-Photography-10046.jpg"  alt="" title="Carden-Park-Wedding-Photography-10046"  width="2047" height="1365" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-143" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Carden-Park-Wedding-Photography-10140.jpg"  alt="" title="Carden-Park-Wedding-Photography-10140"  width="2047" height="1365" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-144" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Carden-Park-Wedding-Photography-10231.jpg"  alt="" title="Carden-Park-Wedding-Photography-10231"  width="2047" height="1365" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-145" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Carden-Park-Wedding-Photography-10587.jpg"  alt="" title="Carden-Park-Wedding-Photography-10587"  width="2047" height="1365" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-146" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Carden-Park-Wedding-Photography-10601-2.jpg"  alt="" title="Carden-Park-Wedding-Photography-10601-2"  width="2048" height="1365" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-147" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Carden-Park-Wedding-Photography-10608.jpg"  alt="" title="Carden-Park-Wedding-Photography-10608"  width="2048" height="1365" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-148" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Carden-Park-Wedding-Photography-10682.jpg"  alt="" title="Carden-Park-Wedding-Photography-10682"  width="2048" height="1365" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-149" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/Carden-Park-Wedding-Photography-10754.jpg"  alt="" title="Carden-Park-Wedding-Photography-10754"  width="2048" height="1365" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		<script type="text/javascript">
setREVStartSize({c: jQuery('#rev_slider_94_6'), responsiveLevels: [1240,1024,1024,1024], gridwidth: [1240,1024,1024,1024], gridheight: [868,600,600,600], sliderLayout: 'auto'});
			
var revapi94,
	tpj=jQuery;
			
tpj(document).ready(function() {
	if(tpj("#rev_slider_94_6").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_94_6");
	}else{
		revapi94 = tpj("#rev_slider_94_6").show().revolution({
			sliderType:"carousel",
			jsFileLocation:"//charlotteelise.co.uk/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"auto",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				onHoverStop:"off",
			},
			carousel: {
				horizontal_align: "center",
				vertical_align: "center",
				fadeout: "on",
				vary_fade: "off",
				maxVisibleItems: 3,
				infinity: "off",
				space: 0,
				stretch: "off",
 							showLayersAllTime: "off",
 							easing: "Power3.easeInOut",
 							speed: "800"
			},
			responsiveLevels:[1240,1024,1024,1024],
			visibilityLevels:[1240,1024,1024,1024],
			gridwidth:[1240,1024,1024,1024],
			gridheight:[868,600,600,600],
			lazyType:"none",
			shadow:0,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
	
});	/*ready*/
</script>
		</div><!-- END REVOLUTION SLIDER -->
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/hindu-civil-wedding-carden-park-hotel/">Hitesha &#038; Jinesh&#8217;s Hindu &#038; Civil Wedding at Carden Park Hotel</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/hindu-civil-wedding-carden-park-hotel/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Brittany and Bob&#8217;s Cheshire Wedding at Hilltop Country House</title>
		<link>https://charlotteelise.co.uk/brittany-bobs-cheshire-wedding/</link>
					<comments>https://charlotteelise.co.uk/brittany-bobs-cheshire-wedding/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Wed, 14 Nov 2018 14:10:53 +0000</pubDate>
				<category><![CDATA[Wedding Planner]]></category>
		<guid isPermaLink="false">https://charlotteelise.co.uk/?p=9241</guid>

					<description><![CDATA[<p>Brittany and Bob, an LA-based couple came to us for assistance in 2017. They had a lot of family in Manchester and so decided to hold their wedding over in the UK as they wanted a Cheshire wedding. We helped them with our full-planning package which also included helping them source a venue. Brittany&#8217;s sister...</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/brittany-bobs-cheshire-wedding/">Brittany and Bob&#8217;s Cheshire Wedding at Hilltop Country House</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Brittany and Bob, an LA-based couple came to us for assistance in 2017. They had a lot of family in Manchester and so decided to hold their wedding over in the UK as they wanted a Cheshire wedding. We helped them with our full-planning package which also included helping them source a venue. Brittany&#8217;s sister lives in Manchester and so we spent a lot of time with her and Skyping Brittany and Bob in the USA to go over everything and discuss the wedding. Brittany and Bob didn&#8217;t see the wedding venue until the wedding itself but they instantly fell in love with the one they had chosen &#8211; Hilltop Country House. It was perfect for their Summer English Garden wedding.</p>
<p>Luckily, when the day itself came around the weather was perfect for their outdoor ceremony. They also held their drinks reception outside and the wedding breakfast was in the permanent marquee. Working with wonderful suppliers as always the day went perfectly so thank you to the following suppliers:</p>
<p><a href="https://www.verdure.co.uk">Verdure Floral Design</a> &#8211; Florist</p>
<p><a href="http://heleddroberts.co.uk">Heledd Roberts</a> &#8211; Photographer</p>
<p><a href="http://bloominglovelyfilms.co.uk">Blooming Lovely</a> &#8211; Videographer</p>
<p><a href="https://www.yourhilltopwedding.com">Hilltop Country House</a> &#8211; Venue</p>
<p><a href="https://www.sarahmeredithmua.co.uk/bridal-hair-and-make-up/">Sarah Meredith</a> &#8211; Hair and Makeup</p>
<p><a href="https://www.macakecompany.co.uk">Marie Antoinette</a> &#8211; Cake</p>
<p>Slide through the images below from this beautiful day!</p>

<div id="rev_slider_93_7_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.5 auto mode -->
	<div id="rev_slider_93_7" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-135" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/BrittanyBob-HeleddRobertsPhotography-001.jpg"  alt="" title="Brittany&#038;Bob-HeleddRobertsPhotography-001"  width="2048" height="1536" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-136" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/BrittanyBob-HeleddRobertsPhotography-1057.jpg"  alt="" title="Brittany&#038;Bob-HeleddRobertsPhotography-1057"  width="2048" height="1536" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-137" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/BrittanyBob-HeleddRobertsPhotography-877.jpg"  alt="" title="Brittany&#038;Bob-HeleddRobertsPhotography-877"  width="2048" height="1536" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-138" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/BrittanyBob-HeleddRobertsPhotography-510.jpg"  alt="" title="Brittany&#038;Bob-HeleddRobertsPhotography-510"  width="1536" height="2048" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-139" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/BrittanyBob-HeleddRobertsPhotography-996.jpg"  alt="" title="Brittany&#038;Bob-HeleddRobertsPhotography-996"  width="2048" height="1536" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-140" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/BrittanyBob-HeleddRobertsPhotography-1137.jpg"  alt="" title="Brittany&#038;Bob-HeleddRobertsPhotography-1137"  width="1536" height="2048" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-141" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-delay="8980"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/BrittanyBob-HeleddRobertsPhotography-479.jpg"  alt="" title="Brittany&#038;Bob-HeleddRobertsPhotography-479"  width="1536" height="2048" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		<script type="text/javascript">
setREVStartSize({c: jQuery('#rev_slider_93_7'), responsiveLevels: [1240,1024,1024,1024], gridwidth: [1240,1024,1024,1024], gridheight: [868,600,600,600], sliderLayout: 'auto'});
			
var revapi93,
	tpj=jQuery;
			
tpj(document).ready(function() {
	if(tpj("#rev_slider_93_7").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_93_7");
	}else{
		revapi93 = tpj("#rev_slider_93_7").show().revolution({
			sliderType:"carousel",
			jsFileLocation:"//charlotteelise.co.uk/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"auto",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				onHoverStop:"off",
			},
			carousel: {
				horizontal_align: "center",
				vertical_align: "center",
				fadeout: "on",
				vary_fade: "off",
				maxVisibleItems: 3,
				infinity: "off",
				space: 0,
				stretch: "off",
 							showLayersAllTime: "off",
 							easing: "Power3.easeInOut",
 							speed: "800"
			},
			responsiveLevels:[1240,1024,1024,1024],
			visibilityLevels:[1240,1024,1024,1024],
			gridwidth:[1240,1024,1024,1024],
			gridheight:[868,600,600,600],
			lazyType:"none",
			shadow:0,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
	
});	/*ready*/
</script>
		</div><!-- END REVOLUTION SLIDER -->
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/brittany-bobs-cheshire-wedding/">Brittany and Bob&#8217;s Cheshire Wedding at Hilltop Country House</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/brittany-bobs-cheshire-wedding/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Lucy and Jonson’s Lake Garda Wedding</title>
		<link>https://charlotteelise.co.uk/lucy-jonsons-lake-garda-wedding/</link>
					<comments>https://charlotteelise.co.uk/lucy-jonsons-lake-garda-wedding/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Sat, 21 Jul 2018 16:29:41 +0000</pubDate>
				<category><![CDATA[Wedding Planner]]></category>
		<guid isPermaLink="false">https://charlotteelise.co.uk/?p=9210</guid>

					<description><![CDATA[<p>We first started speaking to Lucy back in 2017, she’d found her dream wedding venue in Lake Garda but needed help sourcing suppliers, arranging logistics and bringing everything together. We made two site visits to Lake Garda with Lucy and Jonson throughout the past 18 months to meet with suppliers and discuss all aspects of...</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/lucy-jonsons-lake-garda-wedding/">Lucy and Jonson’s Lake Garda Wedding</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>We first started speaking to Lucy back in 2017, she’d found her dream wedding venue in Lake Garda but needed help sourcing suppliers, arranging logistics and bringing everything together. We made two site visits to Lake Garda with Lucy and Jonson throughout the past 18 months to meet with suppliers and discuss all aspects of the wedding.</p>
<p>Lucy and Jonson had picked the beautiful Torre San Marco for their wedding and with 130 of their closest family and friends it was certainly a 3 day celebration to remember. On the first evening we had a drinks reception at Hotel BellaRiva, the second day was the wedding and the third day was a boat party on the lake.</p>
<p>Swipe through the images below to see how it was such a stunning wedding with beautiful white orchids, peonies and roses as the flowers and a spectacular display for the wedding cake!!</p>
<p>If you are interested in holding your wedding in Italy please contact us for more information.</p>
<p>Swipe for images below:</p>

<div id="rev_slider_95_8_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.4.5 auto mode -->
	<div id="rev_slider_95_8" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-150" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/8A337148-B5FC-44A9-89D8-EA12E0CB1BCE.jpeg"  alt="" title="8A337148-B5FC-44A9-89D8-EA12E0CB1BCE"  width="1943" height="1294" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-151" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/5ACD799C-A579-4549-87C0-19607BF3202D.jpeg"  alt="" title="5ACD799C-A579-4549-87C0-19607BF3202D"  width="1959" height="1290" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-152" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/1B52019D-5C2A-4169-ABB2-BB31B35BAF9B.jpeg"  alt="" title="1B52019D-5C2A-4169-ABB2-BB31B35BAF9B"  width="965" height="1445" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-153" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/F95FE63A-6B6A-4EF7-B467-416333DC6903.jpeg"  alt="" title="F95FE63A-6B6A-4EF7-B467-416333DC6903"  width="1952" height="1299" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-154" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/7CF9D133-40DF-46BD-B3CD-CA0B5C841F2B.jpeg"  alt="" title="7CF9D133-40DF-46BD-B3CD-CA0B5C841F2B"  width="3024" height="3780" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-155" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/D78E01D7-0B8C-4E25-9A51-A1BE67FC15D6.jpeg"  alt="" title="D78E01D7-0B8C-4E25-9A51-A1BE67FC15D6"  width="4032" height="3024" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-156" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/DB065AEC-F2C3-49BE-8833-E6836E52DA4E.jpeg"  alt="" title="DB065AEC-F2C3-49BE-8833-E6836E52DA4E"  width="1942" height="1298" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-157" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://charlotteelise.co.uk/wp-content/uploads/134865E7-1A55-428A-B7C2-AB1879FADA38.jpeg"  alt="" title="134865E7-1A55-428A-B7C2-AB1879FADA38"  width="1125" height="839" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		<script type="text/javascript">
setREVStartSize({c: jQuery('#rev_slider_95_8'), responsiveLevels: [1240,1024,1024,1024], gridwidth: [1240,1024,1024,1024], gridheight: [868,600,600,600], sliderLayout: 'auto'});
			
var revapi95,
	tpj=jQuery;
			
tpj(document).ready(function() {
	if(tpj("#rev_slider_95_8").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_95_8");
	}else{
		revapi95 = tpj("#rev_slider_95_8").show().revolution({
			sliderType:"carousel",
			jsFileLocation:"//charlotteelise.co.uk/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"auto",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				onHoverStop:"off",
			},
			carousel: {
				horizontal_align: "center",
				vertical_align: "center",
				fadeout: "on",
				vary_fade: "off",
				maxVisibleItems: 3,
				infinity: "off",
				space: 0,
				stretch: "off",
 							showLayersAllTime: "off",
 							easing: "Power3.easeInOut",
 							speed: "800"
			},
			responsiveLevels:[1240,1024,1024,1024],
			visibilityLevels:[1240,1024,1024,1024],
			gridwidth:[1240,1024,1024,1024],
			gridheight:[868,600,600,600],
			lazyType:"none",
			shadow:0,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
	
});	/*ready*/
</script>
		</div><!-- END REVOLUTION SLIDER -->
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/lucy-jonsons-lake-garda-wedding/">Lucy and Jonson’s Lake Garda Wedding</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/lucy-jonsons-lake-garda-wedding/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Gaz and Preetie’s Lake Como Wedding</title>
		<link>https://charlotteelise.co.uk/gaz-preeties-lake-como-wedding/</link>
					<comments>https://charlotteelise.co.uk/gaz-preeties-lake-como-wedding/#respond</comments>
		
		<dc:creator><![CDATA[charlotte]]></dc:creator>
		<pubDate>Sat, 21 Jul 2018 12:33:40 +0000</pubDate>
				<category><![CDATA[Wedding Planner]]></category>
		<guid isPermaLink="false">https://charlotteelise.co.uk/?p=9204</guid>

					<description><![CDATA[<p>Gaz and Preetie first came to us in December 2017, they knew they wanted to get married in Lake Como but didn’t have a venue or suppliers sorted. With our full wedding planning services starting with the venue sourcing we planned their dream 3 day wedding event in the stunning Lake Como. Villa Passalacqua was...</p>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/gaz-preeties-lake-como-wedding/">Gaz and Preetie’s Lake Como Wedding</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Gaz and Preetie first came to us in December 2017, they knew they wanted to get married in Lake Como but didn’t have a venue or suppliers sorted. With our full wedding planning services starting with the venue sourcing we planned their dream 3 day wedding event in the stunning Lake Como.</p>
<p>Villa Passalacqua was hired exclusively as the base for the family and the location of the marquee. A pre-wedding ‘welcome to italy’ party was hosted on the first evening where all guests got to experience the stunning villa and surroundings.</p>
<p>Day 2 was the wedding day &#8211; starting with a Sikh ceremony in the morning at Villa Passalaqua. After this, guests made their way by boat to the beautiful Villa Balbianello for the civil ceremony. The party and evening reception was held back at Villa Passalacqua and all guests had a wonderful time.</p>
<p>We will be sharing images with you very shortly but for now here is the highlight video by Sadha Photography.</p>
<div class="wpv-video-frame"><iframe title="Destination Sikh Wedding in Lake Como, Italy" width="1140" height="641" src="https://www.youtube.com/embed/l_jSrpGu3PI?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<p>The post <a rel="nofollow" href="https://charlotteelise.co.uk/gaz-preeties-lake-como-wedding/">Gaz and Preetie’s Lake Como Wedding</a> appeared first on <a rel="nofollow" href="https://charlotteelise.co.uk">Charlotte Elise</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://charlotteelise.co.uk/gaz-preeties-lake-como-wedding/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
