/*
 Theme Name:   Honeymoon Child
 Description:  Honeymoon Child Theme
 Author:       Daniel Sailes
 Author URI:   http://drs-web.co.uk
 Template:     honeymoon
 Version:      1.0.0
 Text Domain:  honeymoon-child
*/

.home header.main-header .first-row {
	height: auto;
}
.home .logo{
	display: none !important;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .responsive-layout #ss-teaser,
  .responsive-layout #style-switcher,
  .responsive-layout #feedback-wrapper {
    display: none !important;
    height: 0 !important;
    width: 0 !important;
    right: auto !important;
    left: -10000px !important;
  }
  .responsive-layout .loop-wrapper.news > .grid-1-4,
  .responsive-layout .portfolios > ul > .grid-1-4 {
    width: 33.333333333333%;
  }
  .responsive-layout .loop-wrapper.news > .grid-1-4:nth-child(3n+1),
  .responsive-layout .portfolios > ul > .grid-1-4:nth-child(3n+1) {
    clear: both;
  }
  .responsive-layout .loop-wrapper.news > .grid-1-3:nth-child(3n+1),
  .responsive-layout .loop-wrapper.news > .grid-1-2:nth-child(2n+1),
  .responsive-layout .portfolios > ul > .grid-1-3:nth-child(3n+1),
  .responsive-layout .portfolios > ul > .grid-1-2:nth-child(2n+1) {
    clear: both;
  }
  .responsive-layout header.main-header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
  }
  .responsive-layout header.main-header .header-left {
    border-radius: 0;
    background-clip: padding-box;
    display: none;
  }
  .responsive-layout header.main-header #phone-num {
    display: none;
  }
  .responsive-layout header.main-header .header-right {
    display: none;
  }
  .responsive-layout header.main-header .second-row .second-row-columns {
    display: block;
  }
  .responsive-layout header.main-header .second-row .second-row-columns .header-center,
  .responsive-layout header.main-header .second-row .second-row-columns .cart-dropdown {
    display: block;
  }
  .responsive-layout header.main-header .second-row .second-row-columns .cart-dropdown {
    width: 50px;
    margin: auto;
  }
  .responsive-layout header.main-header .second-row .second-row-columns .cart-dropdown.hidden {
    display: none;
  }
  .responsive-layout .page-wrapper aside.left,
  .responsive-layout .page-wrapper aside.right {
    padding-left: 20px;
    padding-right: 20px;
  }
  .responsive-layout #footer-sidebars > .row .widget {
    padding-left: 20px;
    padding-right: 20px;
  }
  .responsive-layout .vamtam-booking-form .wpv-grid .wpv-grid:first-child {
    width: 100%;
  }
  .responsive-layout .vamtam-booking-form .wpv-grid .wpv-grid:last-child {
    width: 200%;
    margin-left: -100%;
    margin-top: 5px;
  }
}
@media (max-width: 958px) {
  .responsive-layout #ss-teaser,
  .responsive-layout #style-switcher,
  .responsive-layout #feedback-wrapper {
    right: auto !important;
    left: -10000px !important;
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
  .responsive-layout.boxed .boxed-layout {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
  }
  .responsive-layout .alignleft,
  .responsive-layout .alignright {
    float: none;
  }
  .responsive-layout .grid-1-2,
  .responsive-layout .grid-1-3,
  .responsive-layout .grid-1-4,
  .responsive-layout .grid-1-5,
  .responsive-layout .grid-1-6,
  .responsive-layout .grid-2-3,
  .responsive-layout .grid-2-5,
  .responsive-layout .grid-3-4,
  .responsive-layout .grid-3-5,
  .responsive-layout .grid-4-5,
  .responsive-layout .grid-5-6,
  .responsive-layout aside.left,
  .responsive-layout aside.right,
  .responsive-layout .left-only,
  .responsive-layout .right-only,
  .responsive-layout .left-right {
    float: none !important;
    clear: both !important;
    margin-bottom: 30px;
    width: 100% !important;
  }
  .responsive-layout .grid-1-2:last-child,
  .responsive-layout .grid-1-3:last-child,
  .responsive-layout .grid-1-4:last-child,
  .responsive-layout .grid-1-5:last-child,
  .responsive-layout .grid-1-6:last-child,
  .responsive-layout .grid-2-3:last-child,
  .responsive-layout .grid-2-5:last-child,
  .responsive-layout .grid-3-4:last-child,
  .responsive-layout .grid-3-5:last-child,
  .responsive-layout .grid-4-5:last-child,
  .responsive-layout .grid-5-6:last-child,
  .responsive-layout aside.left:last-child,
  .responsive-layout aside.right:last-child,
  .responsive-layout .left-only:last-child,
  .responsive-layout .right-only:last-child,
  .responsive-layout .left-right:last-child {
    margin-bottom: 0;
  }
  .responsive-layout .grid-1-1 {
    margin-bottom: 0;
  }
  .responsive-layout .grid-1-1:last-child {
    margin-bottom: 0;
  }
  .responsive-layout #header-sidebars aside,
  .responsive-layout #footer-sidebars aside {
    display: block !important;
    clear: both !important;
    margin: 0 0 30px 0 !important;
    width: 100% !important;
  }
  .responsive-layout #header-sidebars aside section,
  .responsive-layout #footer-sidebars aside section {
    margin: 0;
  }
  .responsive-layout #footer-sidebars aside {
    padding: 0 !important;
  }
  .responsive-layout .row {
    margin-bottom: 30px;
  }
  .responsive-layout .row:last-child {
    margin-bottom: 0;
  }
  .responsive-layout #wpadminbar {
    overflow: hidden;
    min-width: 0;
  }
  .responsive-layout aside.left,
  .responsive-layout aside.right {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 0;
    padding: 0 60px;
  }
  .responsive-layout aside .menu-item > .sub-menu {
    display: none !important;
  }
  .responsive-layout .copyrights {
    padding: 10px 0;
  }
  .responsive-layout .copyrights,
  .responsive-layout .copyrights * {
    text-align: center !important;
  }
  .responsive-layout .copyrights img.alignleft,
  .responsive-layout .copyrights img.alignright {
    display: inline-block;
    float: none;
  }
  .responsive-layout .copyrights .wpv-grid {
    margin-bottom: 0;
  }
  .responsive-layout .price-wrapper.featured {
    margin-top: 0;
  }
  .responsive-layout .meta-header-inside {
    width: 100%;
  }
  .responsive-layout.has-ajax-portfolio.has-page-header.no-header-sidebars .page-header .limit-wrapper,
  .responsive-layout.has-ajax-portfolio.has-page-header.no-header-sidebars .page-header .page-header-content {
    min-height: 150px;
  }
  .responsive-layout.fast-slider .fast-slider-caption {
    height: auto;
  }
  .responsive-layout.fast-slider .fast-slider-navbar {
    right: auto;
    left: 0;
    width: 100%;
  }
  .responsive-layout .slogan.has-button .slogan-content,
  .responsive-layout .slogan.has-button .button-wrp {
    display: block;
  }
  .responsive-layout .slogan.has-button .button-wrp {
    padding-top: 30px;
    padding-left: 0;
  }
  .responsive-layout #sub-footer-menu li {
    display: inline-block;
    float: none;
  }
  .responsive-layout .portfolio-viewer-wrap {
    padding: 0 30px;
  }
  .responsive-layout .portfolio-viewer-wrap .content .share-btns {
    margin-bottom: 20px;
  }
  .responsive-layout .woocommerce.woocommerce-scrollable ul.products li.product {
    clear: none;
  }
  .responsive-layout.woocommerce ul.products li.product,
  .responsive-layout.woocommerce-page ul.products li.product {
    float: none;
    width: 100% !important;
  }
  .responsive-layout.woocommerce div.product span.onsale,
  .responsive-layout.woocommerce-page div.product span.onsale {
    right: 0;
  }
  .responsive-layout.woocommerce div.product div.summary,
  .responsive-layout.woocommerce div.product div.images,
  .responsive-layout.woocommerce-page div.product div.summary,
  .responsive-layout.woocommerce-page div.product div.images {
    float: none;
    width: 100%;
  }
  .responsive-layout.woocommerce div.product .woocommerce-tabs > ul.tabs li,
  .responsive-layout.woocommerce-page div.product .woocommerce-tabs > ul.tabs li {
    float: none !important;
    border: none !important;
    text-align: center;
  }
  .responsive-layout.woocommerce div.product .woocommerce-tabs > ul.tabs li:first-child,
  .responsive-layout.woocommerce-page div.product .woocommerce-tabs > ul.tabs li:first-child {
    margin-left: 0;
  }
  .responsive-layout.woocommerce table.cart,
  .responsive-layout.woocommerce-page table.cart {
    max-width: 100%;
  }
  .responsive-layout.woocommerce table.cart td.product-thumbnail,
  .responsive-layout.woocommerce table.cart td.product-price,
  .responsive-layout.woocommerce table.cart th.product-thumbnail,
  .responsive-layout.woocommerce table.cart th.product-price,
  .responsive-layout.woocommerce-page table.cart td.product-thumbnail,
  .responsive-layout.woocommerce-page table.cart td.product-price,
  .responsive-layout.woocommerce-page table.cart th.product-thumbnail,
  .responsive-layout.woocommerce-page table.cart th.product-price {
    display: none;
  }
  .responsive-layout.woocommerce table.cart td.actions,
  .responsive-layout.woocommerce-page table.cart td.actions {
    text-align: left;
  }
  .responsive-layout.woocommerce table.cart td.actions div.coupon,
  .responsive-layout.woocommerce-page table.cart td.actions div.coupon {
    margin-bottom: 1em;
  }
  .responsive-layout.woocommerce table.cart td.actions > input[type="submit"],
  .responsive-layout.woocommerce-page table.cart td.actions > input[type="submit"] {
    display: block;
    float: none !important;
    margin-bottom: 1em !important;
    margin-left: 0 !important;
  }
  .responsive-layout.woocommerce .cart-collaterals .shipping_calculator,
  .responsive-layout.woocommerce .cart-collaterals .cart_totals,
  .responsive-layout.woocommerce-page .cart-collaterals .shipping_calculator,
  .responsive-layout.woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
  }
  .responsive-layout.woocommerce .cart-collaterals .shipping_calculator,
  .responsive-layout.woocommerce-page .cart-collaterals .shipping_calculator {
    padding-top: 30px;
  }
  .responsive-layout.woocommerce .widget_shopping_cart .widget_shopping_cart_content .buttons a.button,
  .responsive-layout.woocommerce-page .widget_shopping_cart .widget_shopping_cart_content .buttons a.button {
    float: left;
    clear: both;
  }
  .responsive-layout.woocommerce span.onsale,
  .responsive-layout.woocommerce-page span.onsale {
    top: 10px;
    right: 10px;
    left: inherit;
  }
  .responsive-layout.woocommerce .summary form.cart,
  .responsive-layout.woocommerce .summary > div,
  .responsive-layout.woocommerce .summary .product_meta,
  .responsive-layout.woocommerce-page .summary form.cart,
  .responsive-layout.woocommerce-page .summary > div,
  .responsive-layout.woocommerce-page .summary .product_meta {
    padding-left: 0;
  }
  .responsive-layout.woocommerce .summary .share-btns,
  .responsive-layout.woocommerce-page .summary .share-btns {
    margin-left: 0;
  }
  .responsive-layout.woocommerce .summary .product_meta,
  .responsive-layout.woocommerce-page .summary .product_meta {
    margin: 0;
  }
  .responsive-layout.woocommerce .woocommerce-result-count,
  .responsive-layout.woocommerce-page .woocommerce-result-count {
    float: none;
    margin-top: 0;
  }
  .responsive-layout.woocommerce .woocommerce-ordering,
  .responsive-layout.woocommerce-page .woocommerce-ordering {
    float: none;
    margin-bottom: 40px;
  }
  .responsive-layout.ajax-portfolio-expanded .portfolio-content > .grid-4-5 {
    padding-right: 15px;
  }
  .responsive-layout.ajax-portfolio-expanded .portfolio-content > .grid-1-5 {
    position: relative;
    margin: 0 0 60px 0;
    text-align: center;
  }
  .responsive-layout.ajax-portfolio-expanded nav.sort_by_cat span.inner-wrapper a:first-child.active {
    border-top: none;
  }
  .responsive-layout.single-portfolio .portfolios > ul > li.has-description {
    margin-bottom: 30px !important;
  }
  .responsive-layout .page-content .load-more {
    margin-bottom: 30px;
  }
  .responsive-layout .page-content .load-more a {
    padding: 0;
  }
  .responsive-layout #footer-sidebars {
    overflow: hidden;
  }
  .responsive-layout #footer-sidebars .widget {
    padding: 0 30px !important;
  }
  .responsive-layout footer.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .responsive-layout article .loop-wrapper {
    padding: 0 0 20px 0 !important;
  }
  .responsive-layout .post-article .post-media .media-inner {
    position: relative;
    display: block;
    min-height: 21px;
  }
  .responsive-layout .post-article a.single-post-format {
    display: none;
  }
  .responsive-layout #header-breadcrumbs {
    display: none;
  }
  .responsive-layout #sub-header {
    position: relative;
    z-index: 2;
  }
  .responsive-layout #sub-header header.page-header {
    padding: 0 30px;
  }
  .responsive-layout #sub-header .meta-header-inside {
    position: relative;
    padding: 0 0 30px 0;
    width: 100%;
  }
  .responsive-layout .row > .has-more-button {
    padding-right: 15px !important;
  }
  .responsive-layout .column-read-more-btn {
    display: none;
  }
  .responsive-layout #commentform .form-submit {
    float: none;
    text-align: center;
  }
  .responsive-layout .page-wrapper > div,
  .responsive-layout .page-wrapper > article,
  .responsive-layout .page-wrapper .ajax-result > div,
  .responsive-layout .page-wrapper .ajax-result > article {
    padding-right: 30px;
    padding-left: 30px;
  }
  .responsive-layout .header-middle {
    margin-bottom: 0;
  }
  .responsive-layout .header-middle .header-middle-content {
    padding-right: 30px;
    padding-left: 30px;
  }
  .responsive-layout.boxed .row > div.extended.grid-1-1 {
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .responsive-layout .services.smallimage {
    margin: 0 60px;
  }
  .responsive-layout #page {
    overflow: hidden;
  }
  .responsive-layout .meta-header-inside {
    padding: 0 0 30px 0;
  }
  .responsive-layout #header-breadcrumbs {
    padding: 10px 0 0 60px;
    color: #ebebeb;
    text-align: left;
  }
  .responsive-layout #header-breadcrumbs a {
    color: #a19797;
  }
  .responsive-layout #header-breadcrumbs:after {
    position: absolute;
    top: 34px;
    left: 60px;
    width: 70px;
    height: 1px;
    border-bottom: 1px solid #DFDEE3;
    content: "";
  }
  .responsive-layout.single-post .meta-header-inside {
    padding: 0 0 20px 0 !important;
  }
  .responsive-layout .wpv-grid.has-more-button .column-read-more-btn {
    display: none;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-row-left {
    display: none;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-row-center {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-article .post-media {
    float: none;
    max-width: 100%;
    width: 100%;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-article .post-content-outer {
    padding-left: 30px;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-article .post-content-outer.single-post {
    padding-left: 0;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-article .post-content-outer .post-meta div {
    border: none;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-article .post-content-outer .post-meta div.blog-buttons a:after {
    display: none;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-article .quote-post-format .cite {
    float: none;
    padding-bottom: 25px;
    width: auto;
    text-align: left;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-article .quote-post-format .cite img {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 20px 0 0;
    max-width: 85px;
    border: 0;
    vertical-align: middle;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-article .quote-post-format .cite img + .quote-author {
    display: inline;
    vertical-align: middle;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-article .quote-post-format .cite + .quote-text {
    padding-left: 0;
  }
  .responsive-layout .loop-wrapper:not(.news) .post-article .quote-post-format .quote-text {
    padding-bottom: 25px;
  }
  .responsive-layout .team-member {
    text-align: center;
  }
  .responsive-layout .team-member img {
    display: inline-block;
  }
  .responsive-layout .team-member .share-icons .icon {
    float: none;
  }
  .responsive-layout .wpv-tabs .ui-tabs-nav li {
    display: block;
    float: none;
    margin-left: 0 !important;
  }
  .responsive-layout .wpv-tabs.vertical {
    overflow: hidden;
    margin: 0 -30px;
  }
  .responsive-layout .wpv-tabs.vertical:before {
    display: none;
  }
  .responsive-layout .wpv-tabs.vertical .ui-tabs-nav {
    position: relative;
    padding: 0 30px !important;
    width: 100%;
  }
  .responsive-layout .wpv-tabs.vertical .ui-tabs-nav:before {
    display: none;
  }
  .responsive-layout .wpv-tabs.vertical .ui-tabs-nav li {
    width: 100%;
    text-align: center;
  }
  .responsive-layout .wpv-tabs.vertical .ui-tabs-nav li.inactive-block-title {
    padding: 30px 0;
  }
  .responsive-layout .wpv-tabs.vertical .ui-tabs-nav li:last-child {
    margin-bottom: 30px;
  }
  .responsive-layout .wpv-tabs.vertical .ui-tabs-nav li a {
    display: block;
  }
  .responsive-layout .wpv-tabs.vertical .ui-tabs-nav li a span,
  .responsive-layout .wpv-tabs.vertical .ui-tabs-nav li a .icon.shortcode {
    display: inline-block;
  }
  .responsive-layout .wpv-tabs.vertical .ui-tabs-nav li:not(.has-icon) a .title-text {
    width: auto;
  }
  .responsive-layout .wpv-tabs.vertical .pane {
    float: none;
    clear: both;
    padding: 30px;
    width: 100%;
  }
  .responsive-layout .wpv-tabs.vertical .pane:before {
    display: none;
  }
  .responsive-layout .wpv-tabs.horizontal .ui-tabs-nav li:first-child {
    border-top-right-radius: 5px;
  }
  .responsive-layout .wpv-tabs.horizontal .ui-tabs-nav li:last-child {
    border-top-right-radius: 0;
  }
  .responsive-layout .sort_by_cat {
    height: auto;
  }
  .responsive-layout .sort_by_cat .inner-wrapper {
    display: block;
    width: 100%;
    height: auto;
  }
  .responsive-layout .sort_by_cat .inner-wrapper .cat,
  .responsive-layout .sort_by_cat .inner-wrapper a {
    display: block;
    float: none;
    padding-left: 0;
    margin-left: 0;
  }
  .responsive-layout .comments .children {
    margin-left: 0;
    border-top: 0;
  }
  .responsive-layout .ls-bottom-nav-wrapper {
    display: none;
  }
  .responsive-layout .sep-text:not(.keep-always) .content {
    display: block;
    white-space: normal;
  }
  .responsive-layout .sep-text:not(.keep-always) .sep-text-before,
  .responsive-layout .sep-text:not(.keep-always) .sep-text-after {
    display: none;
  }
  .responsive-layout .sep-text-more {
    display: none;
  }
  .responsive-layout blockquote.simple .quote-thumbnail {
    float: none;
    width: auto;
    text-align: left;
    margin: 0;
  }
  .responsive-layout blockquote.simple .quote-thumbnail img {
    margin-left: 0;
  }
  .responsive-layout.events-list .tribe-events-loop .type-tribe_events,
  .responsive-layout.tribe-events-day .tribe-events-loop .type-tribe_events,
  .responsive-layout.single-tribe_venue .tribe-events-loop .type-tribe_events,
  .responsive-layout.single-tribe_organizer .tribe-events-loop .type-tribe_events {
    float: none;
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }
  .responsive-layout #tribe-bar-form .first-row {
    padding: 10px;
    margin-bottom: 30px;
  }
  .responsive-layout #tribe-bar-form .tribe-bar-date-filter,
  .responsive-layout #tribe-bar-form .tribe-bar-search-filter,
  .responsive-layout #tribe-bar-form .tribe-bar-geoloc-filter,
  .responsive-layout #tribe-bar-form .tribe-bar-submit {
    float: none;
    width: auto;
  }
  .responsive-layout #tribe-bar-form.tribe-bar-collapse #tribe-bar-collapse-toggle {
    float: none;
    margin: -10px -10px 10px -10px;
    width: auto;
    border-radius: 5px 5px 0 0;
  }
  .responsive-layout #tribe-bar-form.tribe-bar-collapse #tribe-bar-collapse-toggle.tribe-bar-filters-open {
    margin-bottom: -10px;
    border-radius: 5px;
  }
  .responsive-layout #tribe-bar-form .tribe-bar-submit .button {
    display: block;
    width: 100%;
  }
  .responsive-layout .tribe-events-sub-nav li a,
  .responsive-layout .tribe-events-sub-nav li a:hover {
    padding: 0;
    background: none;
    color: #bfbaba;
    white-space: nowrap;
  }
  .responsive-layout .tribe-events-calendar thead th {
    padding-left: 0;
    padding-right: 0;
  }
  .responsive-layout .tribe-events-calendar td div[id*="tribe-events-daynum-"],
  .responsive-layout .tribe-events-calendar td div[id*="tribe-events-daynum-"] a {
    margin-top: 0;
  }
  .responsive-layout .tribe-events-calendar td.tribe-events-future div[id*="tribe-events-daynum-"],
  .responsive-layout .tribe-events-calendar td.tribe-events-future div[id*="tribe-events-daynum-"] a {
    color: #ffffff;
  }
  .responsive-layout .tribe-events-calendar td.mobile-active,
  .responsive-layout .tribe-events-calendar td.mobile-active:hover {
    background: #bfbaba;
  }
  .responsive-layout .tribe-events-calendar td.mobile-active div[id*="tribe-events-daynum-"],
  .responsive-layout .tribe-events-calendar td.mobile-active div[id*="tribe-events-daynum-"] a {
    background: #bfbaba;
  }
  .responsive-layout #tribe-events-content {
    overflow: visible;
  }
  .responsive-layout #tribe-events-content .tribe-events-calendar .mobile-active:hover {
    background-color: #bfbaba;
  }
  .responsive-layout.single-tribe_events aside.left {
    padding-top: 60px;
  }
  .responsive-layout .wpv-article-paddings-x {
    padding-right: 30px;
    padding-left: 30px;
  }
  .responsive-layout .wpv-tribe-multiple-events .event-wrapper {
    padding: 25px 20px 35px;
  }
  .responsive-layout .wpv-grid.hide-bg-lowres {
    background-image: none;
  }
  .responsive-layout .wpv-grid.hide-bg-lowres .wpv-parallax-bg-img {
    display: none;
  }
}
@media (min-width: 700px) and (max-width: 958px) {
  .responsive-layout .page-wrapper > div,
  .responsive-layout .page-wrapper > article,
  .responsive-layout .page-wrapper .ajax-result > div,
  .responsive-layout .page-wrapper .ajax-result > article {
    padding-left: 120px;
    padding-right: 120px;
  }
  .responsive-layout.boxed .row > div.extended.grid-1-1 {
    padding-left: 120px;
    padding-right: 120px;
    margin-left: -105px;
    margin-right: -105px;
  }
  .responsive-layout aside.left,
  .responsive-layout aside.right,
  .responsive-layout #footer-sidebars .widget,
  .responsive-layout .header-middle .header-middle-content {
    padding: 0 120px !important;
  }
  .responsive-layout .single-event-after-sidebars-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
  .responsive-layout .wpv-article-paddings-x {
    padding-right: 120px;
    padding-left: 120px;
  }
  .responsive-layout .wpv-tribe-multiple-events .event-wrapper {
    padding: 25px 45px 35px;
  }
}
@media (max-width: 1024px) {
  .responsive-layout .fixed-header-box .cart-dropdown {
    display: none !important;
  }
  .responsive-layout header.main-header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
  }
  .responsive-layout header.main-header .mobile-top-bar {
    display: block;
    padding: 5px 20px;
  }
  .responsive-layout header.main-header .logo-wrapper .logo {
    min-width: 0 !important;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .responsive-layout header.main-header .logo-wrapper .logo img {
    top: 0;
    display: block;
    opacity: 1 !important;
    height: auto;
    max-width: 100%;
  }
  .responsive-layout header.main-header .logo-wrapper .logo img.alternative-logo {
    display: none;
  }
  .responsive-layout header.main-header .logo-wrapper .mobile-logo-additions {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 100%;
  }
  .responsive-layout header.main-header .logo-wrapper .mobile-logo-additions .vamtam-cart-dropdown-link {
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;
    vertical-align: middle;
  }
  .responsive-layout header.main-header .logo-wrapper .mobile-logo-additions .header-search {
    vertical-align: middle;
  }
  .responsive-layout header.main-header .header-left {
    border-radius: 0;
    background-clip: padding-box;
    display: none;
  }
  .responsive-layout header.main-header #phone-num {
    display: none;
  }
  .responsive-layout header.main-header .header-right {
    display: none;
  }
  .responsive-layout header.main-header .second-row .second-row-columns {
    display: block;
  }
  .responsive-layout header.main-header .second-row .second-row-columns .header-center {
    display: block;
  }
  .responsive-layout header.main-header .search-wrapper {
    display: none;
  }
  .responsive-layout header.main-header .header-names {
    text-align: center;
  }
  .responsive-layout header.main-header .header-names .left-name,
  .responsive-layout header.main-header .header-names .right-name {
    position: static;
    text-align: right;
    margin: 0;
  }
  .sticky-header-type-over.wpv-not-scrolled.responsive-layout header.main-header .header-names .left-name .top-name,
  .sticky-header-type-half-over.wpv-not-scrolled.responsive-layout header.main-header .header-names .left-name .top-name,
  .sticky-header-type-over.wpv-not-scrolled.responsive-layout header.main-header .header-names .right-name .top-name,
  .sticky-header-type-half-over.wpv-not-scrolled.responsive-layout header.main-header .header-names .right-name .top-name {
    color: #bfbaba;
  }
  .responsive-layout header.main-header .header-names .left-name .bottom-name,
  .responsive-layout header.main-header .header-names .right-name .bottom-name {
    display: none;
  }
  .responsive-layout header.main-header .header-names .names-separator {
    border: 0;
    text-align: center;
    display: block;
    padding: 0;
  }
  .responsive-layout header.main-header .header-names .names-separator .names-separator-inner {
    border: 0;
    display: inline-block;
    padding: 0;
    font-size: 25px;
    height: auto;
    line-height: 1;
  }
  .sticky-header-type-over.wpv-not-scrolled.responsive-layout header.main-header .header-names .names-separator .names-separator-inner,
  .sticky-header-type-half-over.wpv-not-scrolled.responsive-layout header.main-header .header-names .names-separator .names-separator-inner {
    color: #DFDEE3;
  }
  .responsive-layout .fixed-header-box .logo-wrapper {
    padding-right: 20px;
  }
  .responsive-layout.sticky-header-type-over.sticky-header.wpv-not-scrolled header.main-header.layout-logo-menu .first-row {
    border-radius: 0;
  }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row {
    display: block;
    min-height: 0;
    height: auto;
  }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-wrapper {
    padding: 0;
    height: auto;
  }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-right {
    display: none;
  }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-left {
    display: block;
    margin-bottom: 0;
    min-height: 0;
    height: auto;
  }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-left .logo-wrapper {
    display: block;
    min-height: 0;
  }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-left .logo-wrapper .logo {
    top: 0;
  }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-left .logo-wrapper .logo img {
    padding: 10px 0 !important;
    top: 0 !important;
  }
  .responsive-layout header.main-header.layout-logo-menu .header-contents {
    display: block;
    padding: 0;
    margin: 0;
  }
  .responsive-layout header.main-header.layout-logo-menu .first-row {
    display: block;
    padding: 0;
  }
  .responsive-layout header.main-header.layout-logo-menu .first-row .logo-wrapper {
    min-height: 0;
  }
  .responsive-layout header.main-header.layout-logo-menu .first-row .logo-wrapper .logo {
    top: 0;
  }
  .responsive-layout header.main-header.layout-logo-menu .first-row .logo-wrapper .logo img {
    padding: 0 !important;
  }
  .responsive-layout header.main-header.layout-standard .first-row {
    height: auto;
  }
  .responsive-layout header.main-header.layout-standard .first-row .logo img {
    padding: 0 !important;
  }
  .responsive-layout header.main-header .top-nav,
  .responsive-layout header.main-header .second-row {
    display: none !important;
  }
  .responsive-layout header.main-header .logo {
    padding: 10px 0;
  }
  .responsive-layout header.main-header .logo img {
    max-height: 65px;
  }
  .responsive-layout header.main-header .logo-wrapper {
    padding-left: 70px;
    clear: both;
  }
  .responsive-layout header.main-header .logo-wrapper:before,
  .responsive-layout header.main-header .logo-wrapper:after {
    content: " ";
    display: table;
  }
  .responsive-layout header.main-header .logo-wrapper:after {
    clear: both;
  }
  .responsive-layout header.main-header .logo-wrapper:before,
  .responsive-layout header.main-header .logo-wrapper:after {
    content: " ";
    display: table;
  }
  .responsive-layout header.main-header .logo-wrapper:after {
    clear: both;
  }
  .responsive-layout .fixed-header-box {
    padding: 0;
  }
  .responsive-layout #menus {
    float: none;
    display: inline-block;
  }
  .responsive-layout #mp-menu-trigger {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 600;
    display: block;
    margin-top: -17.5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 35px;
    height: 35px;
    text-indent: -100000px;
    cursor: pointer;
    visibility: hidden;
  }
  .responsive-layout #mp-menu-trigger:before {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 0;
    width: 35px;
    height: 35px;
    color: #bfbaba;
    text-indent: 0;
    font-size: 35px;
    line-height: .9;
  }
  .responsive-layout .mp-pusher {
    position: relative;
    left: 0;
    height: 100%;
  }
  .responsive-layout .mp-menu {
    position: fixed;
    top: 0;
    left: -270px;
    z-index: 110 !important;
    display: block;
    width: 270px;
    height: 100%;
    background-color: #DFDEE3;
  }
  .responsive-layout .mp-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .responsive-layout .mp-menu ul li {
    padding-bottom: 0;
  }
  .responsive-layout .mp-menu ul li li:first-child {
    padding-top: 0;
  }
  .responsive-layout .mp-menu ul li > a {
    font: normal 17px/30px "Julius Sans One";
    -webkit-transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
    transition: background 0.3s ease-out, box-shadow 0.3s ease-out;
    display: block;
    padding: 10px 20px;
    outline: none;
    box-shadow: inset 0 -1px rgba(255,255,255,0.2);
    color: #222020;
  }
  .responsive-layout .mp-menu ul li > a.has-children::after {
    float: right;
    margin-right: -10px;
    color: #222020;
    content: "\e005";
    font-size: 15px;
    font-family: 'theme';
    font-style: normal;
  }
  .responsive-layout .mp-menu ul li > a:hover {
    text-decoration: none;
  }
  .responsive-layout .mp-menu ul li::before {
    position: absolute;
    left: 10px;
    z-index: -1;
    color: rgba(0,0,0,0.2);
    line-height: 3.5;
  }
  .responsive-layout .mp-menu h2 {
    font: normal 17px/30px "Julius Sans One";
    margin: 0;
    padding: 1em;
    color: #222020;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1em;
  }
  .responsive-layout .mp-menu .mp-level .mp-level:not(.mp-level-open),
  .responsive-layout .mp-menu .mp-level.mp-level-open .mp-level:not(.mp-level-open) {
    display: none;
  }
  .responsive-layout .mp-level {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #DFDEE3;
  }
  .responsive-layout .mp-level::after {
    z-index: -1;
  }
  .responsive-layout .mp-level.mp-level-overlay {
    cursor: pointer;
  }
  .responsive-layout .mp-level.mp-level-overlay.mp-level::before {
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 1;
  }
  .responsive-layout .mp-level .mp-level {
    position: relative;
  }
  .responsive-layout .mp-level .mp-back + ul {
    box-shadow: inset 0 1px rgba(255,255,255,0.1);
  }
  .responsive-layout .mp-pusher::after,
  .responsive-layout .mp-level::after,
  .responsive-layout .mp-level::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
  }
  .responsive-layout .mp-pusher.mp-pushed::after,
  .responsive-layout .mp-level.mp-level-overlay::after {
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .responsive-layout .mp-pusher::after {
    -webkit-transition: opacity 0.3s ease-out, width 0.1s 0.3s ease-out, height 0.1s 0.3s ease-out;
    transition: opacity 0.3s ease-out, width 0.1s 0.3s ease-out, height 0.1s 0.3s ease-out;
    background: rgba(255,255,255,0.8);
    z-index: 100;
  }
  .responsive-layout .mp-menu ul li a:not(.mp-back):hover {
    background: transparent;
    color: #414141;
  }
  .responsive-layout .mp-menu .mp-level.mp-level-overlay > ul > li > a,
  .responsive-layout .mp-level.mp-level-overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(255,255,255,0);
  }
  .responsive-layout .mp-back {
    -webkit-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
    position: relative;
    display: block;
    padding: 1em;
    outline: none;
    background: #414141;
    box-shadow: inset 0 1px rgba(255,255,255,0.1);
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font: normal 18px/21px "Brawler";
    font-weight: bold;
  }
  .responsive-layout .mp-back::after {
    position: absolute;
    right: 10px;
    color: #ffffff;
    content: "\e006";
    font-size: 15px;
    font-family: 'theme';
    font-weight: normal;
    font-style: normal;
  }


  
	.responsive-layout #mp-menu-trigger {
		margin-top: 15px !important;
		top: 0 !important;
	}
	.responsive-layout header.main-header .logo-wrapper {
		padding: 0 20px;
	}
	.responsive-layout header.main-header.layout-standard .first-row .logo img {

	}
	.responsive-layout header.main-header .logo {
		padding: 0;
	}
	.responsive-layout header.main-header .logo-wrapper .logo img {
		margin: 0 auto;
		max-height: 140px !important;
	}
	body.no-header-sidebars.no-page-header .page-wrapper, body.no-header-sidebars.no-page-header .page-wrapper > .ajax-result {
		padding-top: 20px;
	}
	.wpv-first-level p {
		margin: 0;
	}
	.page-header .desc, .page-header .desc a, em {
	    font: normal 25px/37px "Julius Sans One"
	}
}